    @font-face {
        font-family: 'Sky'; /* Choose a name for your font */
        src: url('assets/fonts/sky.ttf'); /* Path to your font files */
    }




*{
    margin: 0;
    padding:0;
    box-sizing: content-box;
    font-family:'Sky' ;
}

.upper-header{
    height: 40px;
    width: 100%;
    border: 4px black;
    color: #919191;
    font-size: medium;
    display: flex;
    justify-content: center;
}
.upper-header-items{
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    
}

.upper-header-items li a{
        color: #919191;
        text-decoration: none;
}

.sec-nav{
    height: 48px;
    background-color: #1073c0;
    box-sizing: content-box;
        font-size: medium;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.buttons{
    gap: 10px;
}
.logo{
    width: fit-content;
    height: 20px;
}
.sec-header-items{
        width: 65%;
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
.buttons button{
    border: none;
    background-color: #0061ad ;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    padding: 1px 10px;
    transition-duration: 0.5s;
}

.buttons{
    display: flex;
    flex-direction:row-reverse ;
    justify-content: flex-end;
    width: 100%;
}

.buttons button:hover{
    transition-duration: 0.5s;
        background-color: #003761 ;
        cursor: pointer;

}
.main-page{
    display: flex;
    flex-direction: row-reverse;
    background-color: #f2f4fa;
    background-size: cover;
    padding-inline: 300px;
}

.navigator{
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}
.navigator a{
        text-decoration: none;
    color: #858585;
}
.col-1{
display: flex;
flex-direction: column;
align-items: end;
}
.hero-product{
    height: 1400px;
    background-color: white;
    border-radius: 20px;
    width: 60%;
    padding: 5px;
}
.product-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    background-color: #f2f4fa;
    border-radius: 16px;
    height: 150px;
    
}
.product-name{
    color:#10b981;
    font-weight: bold;
    font-size: 24px;
    text-align: end;
}
.product-price{
    font-weight: bold;

    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}
.product-name-price{
    color:#0061ad;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.product-LocationTime{
    display: flex;
    flex-direction: row-reverse;
    gap:20px
}

.product-LocationTime .time-ago i {
    color: #858585;
}
.product-LocationTime .area i {
    color: #1073c0;
}
.product-LocationTime .area{
        color: #1073c0;
}
.avatar{
    width: 40px;
    height: 40px;
    background-color:#a9bdd5; 
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-owner{
    display: flex;
    flex-direction: row-reverse;
    gap:20px;
    align-items: center;
}
.owner-name{
    display: flex;
    align-items: center;
    justify-content: center;
}
.follow{
    padding: 5px 10px;
    height: 20px;
    background-color: #1073c0;
    color: white;
    border-radius: 20px;
    border: none;
    transition-duration: 0.5s;
}

.follow:hover{
    background-color: #003761;
    cursor: pointer;
    transition-duration: 0.5s;
}

.product-description{
    margin-block: 20px;
    font-size: 18px;
    color: #919191;
    text-align: right;
    padding: 10px;
}
.product-img{

    height: 690px;
    background-image:url("assets/product-img-1.png");
    background-size: cover;
}