    @font-face {
        font-family: 'Sky'; /* Choose a name for your font */
        src: url('assets/fonts/sky.ttf'); /* Path to your font files */
    }




*{
    margin: 0;
    padding:0;
    box-sizing: content-box;
    font-family:'Sky' ;
}

.upper-header{
    height: 40px;
    width: 100%;
    border: 4px black;
    color: #919191;
    font-size: medium;
    display: flex;
    justify-content: center;
}
.upper-header-items{
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    
}

.upper-header-items li a{
        color: #919191;
        text-decoration: none;
}

.sec-nav{
    height: 48px;
    background-color: #1073c0;
    box-sizing: content-box;
        font-size: medium;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.buttons{
    gap: 10px;
}
.logo{
    width: fit-content;
    height: 20px;
}
.sec-header-items{
        width: 65%;
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
.buttons button{
    border: none;
    background-color: #0061ad ;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    padding: 1px 10px;
    transition-duration: 0.5s;
}

.buttons{
    display: flex;
    flex-direction:row-reverse ;
    justify-content: flex-end;
    width: 100%;
}

.buttons button:hover{
    transition-duration: 0.5s;
        background-color: #003761 ;
        cursor: pointer;

}
.main-page{
    background-color: #f2f4fa;
    background-size: cover;
    padding-inline: 300px;
}